@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
@font-face {
  font-family: "InfinitySans-RegularA1";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jal_Onuel";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Style */
* {
  font-family: "Jal_Onuel";
}

html,
body,
#root {
  height: 100vh;
}

#root {
  overflow-y: auto;
}

div {
  box-sizing: border-box;
  word-break: keep-all;
}

/* Login */
.background {
  @apply fixed top-0 bottom-0 left-0 right-0 z-10 bg-base-100;
}

/* 404 */
.background-error {
  @apply fixed top-0 bottom-0 left-0 right-0 z-10 bg-error;
}

/* Home */
.fade-in-out {
  @apply fixed top-0 bottom-0 left-0 right-0;
}

.fade-in-out li {
  @apply absolute w-full h-full bg-cover bg-center bg-no-repeat opacity-0 animate-[imageFadeInOut_50s_linear_infinite];
}

.fade-in-out li:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}
.fade-in-out li:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1567941723610-db0bcb4cca67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80");
  animation-delay: 10s;
}
.fade-in-out li:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2053&q=80");
  animation-delay: 20s;
}
.fade-in-out li:nth-child(4) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1498654896293-37aacf113fd9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  animation-delay: 30s;
}
.fade-in-out li:nth-child(5) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1631148625910-e48b149a64d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80");
  animation-delay: 40s;
}

@keyframes imageFadeInOut {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

/* Places */
.places {
  -ms-overflow-style: none;
}

.places::-webkit-scrollbar {
  display: none;
}
